/* Import google fonts Electrolize and Poppins */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:wght@400;500;700&display=swap');

/* Stylesheet Index
1. Colour scheme values
2. Base body, headings, paragraph and link valuess
3. Utility classes
4. Header section
5. Homepage
-- Section 1
-- Section 2
6. Game landing page
7. Game questions screen
8. End game screen
9. Footer
10. Media queries

/* 1. Color scheme values */
:root { 
--white: #ffffff;
--black: #000000;
--blue: #1B365D; /*prussian blue */
--red: #DA344B; /* rusty red */
--yellow: #FFC845; /* sunglow */
--green: #58804D; /* fern green */
--purple: #AA35FD; /* electric purple */
}

/* 2. Base body, headings, paragraph and link values */
body, p, a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Electrolize', sans-serif;
}

main {
    padding-top: 3rem;
    background-color: transparent;
}

/* 3. Utility classes */
.pad-3 {
    padding: 3rem 3rem 0 3rem;
}

.cover-container {
    max-width: 52em;
}

/* 4. Header section */

.header-wrapper {
    border-bottom: 1px solid var(--black);
}
.navbar-brand {
    font-family: 'Electrolize', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
.play-game-small {
    background-color: var(--white);
    outline: 2px solid var(--purple);
}
.play-game-small:hover {
    background-color: var(--purple);
    color: var(--white);
}

/* 5. Homepage sections */

.main-wrapper {
    background-color: var(--yellow);
}

/* Section 1 */
.intro-section h1, .intro-section h2 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
.intro-section p{
    text-align: center;
}
.play-game {
    display: block;
    width: 50%;
    background-color: var(--white);
    outline: 2px solid var(--purple);
}
.play-game:hover {
    background-color: var(--purple);
    color: var(--white);
}
.robot {
    max-width: 100%;
}

/* Section 2 */

/* invite friend form, code tutorial NDN Docs: https://developer.mozilla.org/en-US/docs/Web/CSS/:valid */

  input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
  }
  
  input:invalid {
    border: 2px solid var(--red);
  }

  input:valid {
    border: 2px solid var(--green);
  }
  
  input:invalid + span::before {
    content: '✖';
    color: var(--red);
  }
  
  input:valid + span::before {
    content: '✓';
    color: var(--green);
  }

  /* icon invite section */

 .invite-icon {
      font-size: 15rem;
      width: 100%;
      margin: 25% auto;
  }

  /* 6. Game landing page */

  .body-wrapper {
      background-color: var(--yellow);
  }

  /* 7. Game questions screen */

  #gameLoad {
      margin-top: 4rem;
  }
/* Tutorial used to help style choice selections, further styling has been applied. source: https://www.youtube.com/watch?v=f4fB9Xg2JEY&t=2829s */
  .choice-container {
    display: flex;
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--purple);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: var(--blue);
    color: var(--white);
    margin-bottom: 0;
 }

 .choice-text {
    padding: 1.5rem;
    width: 100%;
    border: none;
}
/* end source */

#progress {
    display: flex;
    flex-wrap: wrap;
}
.game-progress {
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--purple);
}
.incorrect-choice {
    background-color: var(--red);
    color: var(--white);
}
.correct-choice {
    background-color: var(--green);
    color: var(--white);
}

/* 8. End game screen */

.end-screen-ul {
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
}


  /* 9. Footer */
  footer .home-footer {
      height: 100px;
  }

  .footer-wrapper {
      background-color: var(--white);
      color: var(--black);
  }

  footer .social-media-links {
      padding-left: 20px;
      padding-top: 10px;
  }

  footer .fab {
      font-size: 2rem;
      color: var(--black);
  }

/* 10. Media queries */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .intro-section h1, .intro-section h2, .intro-section p {
        text-align: left;
    }
}